# Logs
logs
*.log

# Temporary files
.DS_Store

# Node modules
node_modules

# Sass cache
.sass-cache

# Grunt intermediate storage
.grunt

# SCSS lint repot
scss-lint-report.xml

# PhpStorm/Webstorm IDE files
.idea

# Test destination storage
test/*/dest
